
{% extends "layout.html" %}

{% block header %}
    <h1>L'histoire se répète-t-elle ?</h1>
{% endblock %}

{% block article %}
<div class="fil-ariane"><p><img src="http://www.enalto.fr/assets/left-arrow-ec6d586fe9b99a95159a2e097410a357ef04090ac84efce287da7fa03d48eda8.png" style="width:20px"/></p></div>
    <div class="row article-container">
        <div class="col-xs-7 left-column">
            <div class="reviewed-article">
                <div> <!-- article 1-->
                    {% with article=article1 %}
                    {% include "public/article.html" %}
                    {% endwith %}
                </div>
                <div> <!-- article 1-->
                    {% with article=article2 %}
                    {% include "public/article.html" %}
                    {% endwith %}
                </div>
            </div>
            <div class="comments">
                <p>Voyez-vous un lien entre cet article et l'article précédent ?</p>
                <form action="">
                    <input type="radio" name="connexion" value="yes"> Oui<br>
                    <input type="radio" name="connexion" value="no"> Non<br>
                </form>
            </div>
            <div class="relation">
                <p>Sur quels termes liez-vous ces deux articles ? </p>
                <form class="tags" action="demo_form.asp">
                    <input type="text" name="tags" size="35"><br>
                    <!--<input type="submit" value="Submit">-->
                </form>
            </div>
        </div>

    <div class="col-xs-5">

        {% with article=article2 %}
            {%  include "public/user_recommendations.html" %}
        {%  endwith %}

        {% with article=article2 %}
            {%  include "public/system_recommendations.html" %}
        {%  endwith %}

      </div>

    </div><!-- /.row -->
{% endblock %}

<!--
<div class="container-narrow">
    <h1>Establish a new relation</h1>
    <br/>
    <form id="relationForm" class="form form-register" method="POST" action=""
          role="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="id1" value="{{ article1.id }}"/>
        <input type="hidden" name="id2" value="{{ article2.id }}"/>
        <div class="form-group">
            {{relation_form.description.label}}
            {{relation_form.description(placeholder="These articles both mention...",
            class_="form-control")}}
        </div>
        <p><input class="btn btn-default btn-submit" type="submit"
                  value="Create association"></p>
    </form>
</div>
-->


{% block content %}
{% endblock %}