
{% extends "layout.html" %}

{% block article %}
    <div class="row">
      <div class="col-lg-2">
        <table>
          <tr>
            <td>
              <a href="archives/34">Lien A</a>
            </td>
          </tr>
          <tr>
            <td>
              Lien B
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-8">
        ARTICLE
        <!--<iframe src="http://www.letemps.ch/economie/2016/06/16/bns-ne-croit-brexit-s-y-prepare" width="90%" height="600"/>-->
     </div>
      <div class="col-lg-2">
        <table>
          <tr>
            <td>
              Lien 1
            </td>
          </tr>
          <tr>
            <td>
              Lien 2
            </td>
          </tr>
        </table>
      </div>
    </div><!-- /.row -->
{% endblock %}

{% block content %}
<div class="body-content">
  <table class="table">
    <tbody>
      <tr>
        <td>Fabrice</td>
        <td>
          Il y a 5 ans, c'était un tsunami d'un autre type
        </td>
        <td>
          <button type="button" class="btn btn-info">Info</button>
        </td>
      </tr>
      <tr>
        <td>Anthony</td>
        <td>
          En 1916, un tsunami rose à également frappé cette ville francaise
        </td>
        <td>
          <button type="button" class="btn btn-info">Info</button>
        </td>
      </tr>
    </tbody>
</table>
</div>
{% endblock %}