
{% extends "layout.html" %}

{% block header %}
    <h1>L'histoire se répète-t-elle ?</h1>
{% endblock %}

{% block article %}
    <div class="row">
      <!--<div class="col-lg-2">
        <table>
          <tr>
            <td>
              <a href="compare?source_id=sdf&destination_id=sdf">Lien A</a>
            </td>
          </tr>
          <tr>
            <td>
              Lien
            </td>
          </tr>
        </table>
      </div>-->
      <div class="col-xs-6">
      {% include "article.html" %}

        <!--<iframe src="http://www.letemps.ch/economie/2016/06/16/bns-ne-croit-brexit-s-y-prepare" width="90%" height="600"/>-->
     </div>
     <div class="col-xs-5">
        <h3>Archives liés par le lectorat</h3>
        <table>
          <tr>
            <td>
              <h5>{{user_recommendations.date}}, {{user_recommendations.newspaper}}</h5>
            </td>
          </tr>
          <tr>
            <td>
              <h4>{{user_recommendations.title}}</h4>
            </td>
          </tr>
          <tr>
            <td>
              <h6>{{user_recommendations.comment}}</h6>
            </td>
          </tr>
        </table>

        <h3>Archives en relation</h3>
        <table>
          <tr>
            <td>
              <h5>{{system_recommendations.date}}, {{system_recommendations.newspaper}}</h5>
            </td>
          </tr>
          <tr>
            <td>
              <h4>{{system_recommendations.title}}</h4>
            </td>
          </tr>
          <tr>
            <td>
              <h6>{{system_recommendations.tags}}</h6>
            </td>
          </tr>
        </table>
      </div>
    </div><!-- /.row -->
{% endblock %}

{% block content %}
<!--<div class="body-content">
  <table class="table">
    <tbody>
      <tr>
        <td>Fabrice</td>
        <td>
          Il y a 5 ans, c'était un tsunami d'un autre type
        </td>
        <td>
          <button type="button" class="btn btn-info">Info</button>
        </td>
      </tr>
      <tr>
        <td>Anthony</td>
        <td>
          En 1916, un tsunami rose à également frappé cette ville francaise
        </td>
        <td>
          <button type="button" class="btn btn-info">Info</button>
        </td>
      </tr>
    </tbody>
</table>
</div>-->
{% endblock %}