
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Bordeau anéanti par un tsunami de couleur rose</h1>

  <p>bla bla bla</p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <table class="table">
    <tbody>
      <tr>
        <td>Fabrice</td>
        <td>
          Il y a 5 ans, c'était un tsunami d'un autre type
        </td>
        <td>
          <button type="button" class="btn btn-info">Info</button>
        </td>
      </tr>
      <tr>
        <td>Anthony</td>
        <td>
          En 1916, un tsunami rose à également frappé cette ville francaise
        </td>
        <td>
          <button type="button" class="btn btn-info">Info</button>
        </td>
      </tr>
    </tbody>
</table>
</div>
{% endblock %}

