<div class="system-recommendations">
    <h3>Archives en relation</h3>
    {% for recommendation in system_recommendations %}
        <table>
            <tr>
                <td>
                    <h5>{{recommendation.date}}, {{recommendation.newspaper}}</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h4><a href="/compare?source_id={{ article.id | urlencode }}&destination_id={{ recommendation.id | urlencode }}">{{recommendation.title}}</a></h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h6>{{recommendation.tags}}</h6>
                </td>
            </tr>
        </table>
    {% endfor %}
</div><!-- .system-recommendations-->
