/* =============================================================================
   App specific CSS file.
   ========================================================================== */
.side-panel {
  background-color: lightblue;
}

h1 {
  padding: 50px 0 25px 0;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #b80021;
}

h2 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  text-align: left;
  color: #323232;
}

h3 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  color: #b80021;
}

h4 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 10px;
  text-align: left;
  color: #323232;
}

h5 {
  font-family: Trirong, "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 8px;
  text-align: left;
  color: #404040;
}

h6 {
  font-family: Trirong, "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  line-height: 7px;
  text-align: left;
  color: #404040;
}

/* article */
.article-container {
	margin-top: 100px;
	height: 700px;
}

.reviewed-article {
	display: block;
	height: 500px;
}

.comments {
	
	margin-top: 40px;
	background-color: #f5f5f5;
	padding: 20px;
}

.relation {
	margin-top: 20px;
	background-color: #f5f5f5;
	padding: 20px;
}

.tags {
}

/* iframe */
#article-iframe {
	position: absolute;
	width: 95%;
	height: 500px;
}

.user-recommendations {
  margin-bottom: 45px;
  padding: 1px 17px 12px 17px;
  background-color: #f5f5f5;
}

.system-recommendations {
  padding: 1px 17px 12px 17px;
  background-color: #f5f5f5;
}

/* footer */
footer {
	clear: both;
}
